---
title: Playground
layout: layouts/base.njk
permalink: /playground/index.html
page_class: playground-page
extra_head: <link rel="stylesheet" href="/playground.css">
extra_scripts: <script src="/playground.js" type="module"></script>
---
{% include "partials/playground.html" %}
